/node_modules

npm-debug.log
yarn-error.log
.pnpm-debug.log

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

/dist
/build
/coverage
*.log
*.pid
*.seed
.nyc_output/

.env
.env.local
.env.development
.env.test

/junit.xml
/test-results.xml

*.tsbuildinfo